body
{
    font-family: 'Raleway','sans-serif'; 
    margin:0;
    box-sizing: border-box;
}


/* header */

header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin:2px auto;
}

header img{
    padding: 0 2rem;
}

header nav{
    display: flex;
    align-items: center;
    
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    margin: 0;
    font-weight: 500;
    list-style-type: none;
    text-decoration: none;
}

.menu{
    padding: 2rem;
    color: black;
    text-decoration: none;
}
.ins{
    padding: 2rem;
    color: #0065FC
}

.heb:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.act:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

@media screen and (max-width:620px){

    .ins{
        display: flex;
        align-self: flex-end;
        margin: 0px 2px 0px 30px; 
        
    }

    .menu{
        display: flex;
        justify-content: center;
    }

    nav{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        
    }

    header img{
        padding: 1rem 2rem 2rem 2rem;
        position: absolute;
        
    }

    nav ul{
        width: 100%;
        margin: 2rem 0px;
    }

    nav ul li a{
        display: flex;
    }

    nav ul li{
        flex-basis: 100%;
    }

}

@media screen and (max-width:480px){
    .heb{
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        border-top: none;
        
    }
    
    .act{
        color: black;
        border-bottom: 2px solid #F2F2F2;
        border-top: none;
    }

    .act:hover{
        border-top: none;
    }

    .heb:hover{
        border-top: none;
    }
}

/* header */

/* search */

.search-area h1{
max-width: 1440px;
margin: 20px auto 0px auto;
padding-left: 60px;
}

.search-area p{
max-width: 1440px;
margin: 0px auto;
padding-left: 60px;
display: flex;
flex-wrap:nowrap;
}

form div{
max-width: 1440px;
margin: 20px auto;
padding-left: 60px;
}

form div input{
border-top: 1px solid #F2F2F2;
border-bottom: 1px solid #F2F2F2;
border-left: none;
border-right: none;
font-size: 1rem;
height: 3.3rem;
}


.iconsearch{
background-color: #F2F2F2;
border-radius: 1rem 0 0 1rem;
border: 1px solid #F2F2F2;
padding: 1rem 1rem;
}
    
    
.searchinput{
font-family: 'Raleway','sans-serif'; 
padding: 0 1rem;
font-weight: bold;
}
    
.button-search1{
background-color: #0065FC;
color: white;
border:none;
padding: 0 1rem;
border-radius: 0 1rem 1rem 0;
font-family: 'Raleway','sans-serif';  
font-weight: bold;  
}
    
.button-search2{
height: 3.3rem;
background-color: #0065FC;
color: white;
border:none;
padding: 0 1.2rem;
border-radius: 1rem;
margin-left: -11px;
}
    
.form{
display: flex;
flex-wrap:nowrap;
}

@media screen and (min-width:480px)
{
    .button-search2{
        display: none;

    }
}

@media screen and (max-width:480px){
    .form{
        padding-left: 15px;
    }

    .search-area h1{
        padding-left: 15px;
        font-size: 20px;
        margin: 0;
    }
    
    .search-area p{
        padding-left: 15px;
        font-size: 14px;
        margin: 10px 0;
}

.button-search1{
    display: none;
}
}

/* search */

/* filter */

.filter{
max-width: 1440px;
margin: 20px auto;
padding-left: 60px;
display: flex;
flex-wrap: wrap;
    
}

.filter h3{
margin-right: 3rem;
}

.filter div i{
display: flex;
align-items: center;
justify-content: center;
background-color: #DEEBFF;
border-radius: 100%;
height: 3.5rem;
width: 3.5rem;
color: #0065FC;
}

.icon-filter{
border: 2px solid #F2F2F2;
display: flex;
align-items: center;
margin-right: 2rem;
border-radius: 2rem;
margin-bottom: 1rem;
cursor: pointer;
}

.icon-filter:hover{
    box-shadow: 0 0 20px #0065FC;
    -webkit-transform: scale(1.1);
    transition: 0.5s
}


.icon-filter p{
margin: 1rem;
font-weight: bold;
box-shadow: inset 0 0 0 0 #F2F2F2;

}


.info{
max-width: 1440px;
margin: 20px auto;
padding-left: 60px;
display: flex;
align-items: center;

}

.info i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    color:#0065FC ;
    margin: 0 1rem 0 0;
}

@media screen and (max-width:480px){
    
        .filter{
            padding-left: 15px;
        }

        .filter h3{
            width: 100%;
            }

        .icon-filter{
        font-size: small;
        margin: 0.5rem 1rem 0 0;
        }

        .filter div i{
            height: 2.5rem;
            width: 2.5rem;
            }

    .icon-filter p{
    margin:0.7rem;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 #F2F2F2;
                
    }
       
    .info{
        
        margin: 20px auto;
        padding-left: 15px;
        font-size: small;
}

.info i{
   
    width: 1.5rem;
    height: 1.3rem;
    
}

}

/* filter */

/* main */

article h3{
    display: none;
}

/* middle */

.middle{
    display: flex;
}

.true-star{
    color: #0065FC;
    font-size: 0.9em;
}

.false-star{
    color:#F2F2F2;
    font-size: 0.9em;
}

/* middle */

/* section1 */

main{
max-width: 1440px;
margin: 20px auto;
padding-left: 60px;
}

.section1{
    width: 60%;
    padding: 2.5rem 2.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color:#F2F2F2;
    }
  
  .cards-section1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem auto;
    grid-gap:1rem;
  }

  
  .section1 a{
    color: black;
    text-decoration: none;
  }
  
  .card-section1{
    padding: 5px;
    background-color:white;
    border-radius: 1rem;
    margin: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2)
    }

.card-section1:hover{
    box-shadow: 0 0 20px #0065FC;
    -webkit-transform: scale(1.1) ;
    transition: 0.5s;
}

    .card-section1 figure{
        margin: 0;
    }
  
  .image-section1{
    width: 100%;
    height: 7rem;
    border-radius: 1rem 1rem 0 0;
    object-fit:cover; 
    }
    
  .title-section1{
      font-weight: bold;
      margin: 0rem 1rem 0.5rem 0.5rem;
  } 
  
  .description-section1{
    margin: .40rem 1rem;
  }

  .stars-card1-section1{
      margin: 0 0.5rem;
  }

  .card-section1 p{
      margin: 0rem 1rem 0.5rem 0.5rem;
  }

  p{
    margin: 0 0 3px 0;
  }
  
  .more-picture{
    color:black;
    font-weight: bold;
    margin: 3.5rem 0 0 1.5rem;
  }

  @media screen and (max-width:1400px){
        
        .section1{
            background-color: white;
            padding: 30px;
            width: auto;
        }

        .cards-section1{
            display: grid;
            grid-template-columns: 1fr;
        }
     
        main  {
            padding-left: 0;
        }

        h2{
            padding-left: 10px;
        }

        .cards-section1{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
      }


      @media screen and (max-width:1024px){
        .middle{
            display: grid;
            width: auto;
            
        }

        .section1{
            order: 2;
        }

        .cards-section1{
            display: grid;
            grid-template-columns: 1fr;
        }
      }


      @media screen and (max-width:480px){
   
        .section1{
            padding: 0;
        }
    
      }
    
      
/* section1 */

/* section2 */
.section2{
padding: 2.5rem 2.5rem;
border-radius: 1rem 1rem 1rem 1rem;
background-color:#F2F2F2;
width: 30%;
margin: 0 2rem;
}
  
.cards-section2{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
margin:1rem auto;
grid-gap:2rem;
}
  
a{
color: black;
text-decoration: none;
}
  
.card-section2{
padding: 5px;
background-color:white;
border-radius: 1rem;
margin: 10px;
box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
display: flex;  
}

.card-section2:hover{
    box-shadow: 0 0 20px #0065FC;
    -webkit-transform: scale(1.1) ;
    transition: 0.5s;
}
  
.image-section2{
width:33%;
height:8.5rem;
object-fit:cover;
border-radius: 1rem 0 0 1rem;
}
  
.title-section2{
    font-weight: bold;
} 

.description-section2{
  margin: 0.5rem 1rem;
}

.description-section2 p{
  margin: 0 0 1rem 0
}

.description-section2 i{
    margin-top: 1.1rem;
}

.stars-card1-section2{
    margin-top: 2rem;
}

.title-h2-section2{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1395px){
    .section2{
        background-color: #F2F2F2;
        padding: 30px;
        margin: 0;
        
    }
 
    .card-section2{
        padding: 5px;
        background-color:white;
        border-radius: 1rem;
        margin: 10px;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
        display: flex;
        }

        
      .image-section2 img{
        width: 7rem;
        height: 100%;
        border-radius: 1rem 0 0 1rem;
        object-fit:cover; 
        }
        
      .title-section2{
          font-weight: bold;
          
      } 
      
      .description-section2{
        margin: .0.5 1rem;
    }
    .section2{
        width: auto;
        border-radius: 0;
        margin: 0;
    }

    .cards-section2{
        display: grid;
        grid-template-columns: 1fr;
    }

    h2{
        padding-left: 10px;
    }
  }

  @media screen and (max-width:1110px){
   
    .stars-card1-section2{
        margin: 0;
    }
  }

  @media screen and (max-width:480px){
   
    .section2{
        padding: 0;
    }

    .description-section2{
        margin: 0.5rem 0 0 0.5rem;
    }

    .card-section2 img{
        height: 8.5rem;
        width:40%;
    }

  }



/* section2 */

/* section3 */

.section3{
    padding: 2rem 2rem 2rem 0;
}

.cards-section3{
    display: flex;
    justify-content: space-between;
}


.card1-section3{
    margin: 0;
    border-radius: 1rem;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    height: 500px; 

}

.card1-section3 img{
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0; 
}

.title-section3{
    padding: 10px 0 0 10px;
    font-weight: bold;
}

/* card2 & card3 + card5 & card6*/

.double-cards{
    display: flex;
    flex-direction: column;
    
}

/* card2 */

.article2-section3{
    margin: 0 0 3.1rem 0; 
     
}

.card2-section3{
    margin: 0;
    border-radius: 1rem;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    height: 250px; 
    
}

.card2-section3 img{
width: 360px;
height: 200px;
object-fit: cover;
border-radius: 1rem 1rem 0 0; 
}


.card3-section3{
    margin: 0;
    border-radius: 1rem;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    height: 200px; 
    
}

.card3-section3 img{
width: 360px;
height: 150px;
object-fit: cover;
border-radius: 1rem 1rem 0 0; 
}


.card4-section3{
    margin: 0;
    border-radius: 1rem;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    height: 500px; 

}

.card4-section3 img{
    width: 320px;
    height: 450px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0; 
}

.article2-section3:hover{
    box-shadow: 0 0 10px #0065FC;
    -webkit-transform: scale(1) ;
    border-radius: 1rem;
    transition: 0.5s;
}

.article1-section3:hover{
    box-shadow: 0 0 10px #0065FC;
    -webkit-transform: scale(1) ;
    border-radius: 1rem;
    transition: 0.5s;
}

.article3-section3:hover{
    box-shadow: 0 0 10px #0065FC;
    -webkit-transform: scale(1) ;
    border-radius: 1rem;
    transition: 0.5s;
}

.article4-section3:hover{
    box-shadow: 0 0 10px #0065FC;
    -webkit-transform: scale(1) ;
    border-radius: 1rem;
    transition: 0.5s;
}


@media screen and (max-width:1450px){
    .cards-section3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: auto;
        grid-gap:1rem;
        
    }

    .cards-section3 img{
    width: 100%;
    }

    .section3{
        padding: 30px;
    }

}

@media screen and (max-width:1175px){
    .section3{
        padding: 30px;
    }
    
    
    .cards-section3{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr;
        grid-gap:1rem;
        
    }

    .card1-section3{
        margin: 0;
        border-radius: 1rem;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
        height: 200px;
        width: 100%;
    
    }

    .card1-section3 img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0; 
    }

    .card2-section3{
        margin: 0;
        border-radius: 1rem;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
        height: 200px;
        width: 100%;
    
    }

    .card2-section3 img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0; 
    }

    .card3-section3{
        margin: 0;
        border-radius: 1rem;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
        height: 200px;
        width: 100%;
    
    }

    .card3-section3 img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0; 
    }
    .card4-section3{
        margin: 0;
        border-radius: 1rem;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
        height: 200px;
        width: 100%;
    
    }

    .card4-section3 img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0; 
    }

    .article2-section3{
        margin: 0 0 1rem 0;
    }

    .title-section3{
        padding-top: 15px;
    }


    @media screen and (max-width:480px){

        .section3{
        padding: 5px;
      }

      .section3 h2{
          padding-left: 15px;
      }
}

}

/* footer */

footer{
    background-color: #F2F2F2;
    width: 100%;
    padding-bottom: 2rem;
}

.footer-organisation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    max-width: 1550px;
    margin: auto;
}

.footer-organisation h3{
    margin: 3rem 0 1rem 3rem;
    font-weight: bold;
}

.footer-organisation p{
    margin: 0 0 1rem 3rem;
}

@media screen and (max-width:860px){
    .footer-organisation{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;

    }

    footer{
        margin: 0;
    }
}

/* footer */